/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
/*	margin-top: 6rem;*/
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: #B1663C;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#login {
	width: 30%;
margin: auto;
}
#contact > *, #login > * {
	text-align: center;

}
#contact h2, #login h2 {
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input, .modal input, .form select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label  {
	margin: 2em 0 1em 0;
}
#contact textarea, #login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.categories {
	display: flex;
	justify-content: center;

}

.categories li{
	padding-block: 0.56rem ;
	padding-inline: 1.25rem;
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	margin-inline : 0.62rem;
	margin-bottom: 3.19rem;
	text-align: center;
	border-radius: 60px ;
	border: solid 1px #1D6154;

}
.categories li:hover, .categories .active{
	color: white;
	background-color: #1D6154;
	cursor:default;
}

.warning{
	margin: 1rem;
	color: red;
	font-size: 1rem;
	font-size: 700;
}

.edition{
	position:absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left:0;
	top:0;
	width: 100%;
	height: 3.6rem;
	background-color: black;
	color: white;
}

.fa-pen-to-square{
	margin-inline: 0.71rem;
}

.hidden{
	display: none;
}

#logout{
	cursor: pointer;
}

#projets{
	position: relative;
}

#projets h2{
	position: relative;
	margin-bottom: 3.19rem;
	margin-top: 8.69rem;
}
#projets span{
	position: absolute;
	top: 50%;
  	left: 65%;
  	transform: translate(-50%, -50%);
	cursor: pointer;
}

.strong{
	font-weight: 700;
}


/* modales */ 

.modal{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	
}

.modalBox{
	border-radius: 10px;
	width: 630px;
	border: none;
	outline: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

}

.modalBox::backdrop{
	background-color: rgba(0, 0, 0, 0.5);
}

.modal__nav{
	width: 90%;
	display: flex;
	justify-content: right;
	font-size: 1.5rem;
}

.modal__nav a{
	cursor: pointer;
}
.modal__nav a:hover{
	color: black;
}

/* .modalAdd{
	display: none;
}

.modalDel{
	display: none;
}
 */
.modalAdd .modal__nav{
	justify-content: space-between;
}

.modalAdd form{
	display: flex;
	flex-direction: column;
}

.modal__title{
	font-size: 1.62rem;
	font-weight: 400;
}

.modal__content{
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
	width: 72%;
	padding-bottom: 4.21rem;
	border-bottom:solid 2px #b3b3b3;
}

.modal__image{
	width: 4.88rem;
	height: 6.50rem;
	margin-inline: 0.39rem;
	margin-top: 1.59rem;
}

.modal__image img{
	width: 4.88rem;
	height: 6.50rem;
	object-fit:fill;
}

.modal span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	border-radius: 60px ;
	height: 2.25rem;
	font-size: 0.87em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
}

/* formulaire modal add */ 

#imgFile {
	visibility: hidden;
	display: none;
}

.form{

	width: 72%;
}
.form__div{
	display: flex;
	flex-direction: column;
	padding-bottom: 2.94rem;
	border-bottom:solid 2px #b3b3b3;
}

.form .title{
	margin-bottom: 0.63rem;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 0.875rem;
	font-weight: 500; 
}
.form input{
	margin-bottom: 1.31rem;
}
.form select{
	background-color: white;
}

.form__addPhoto{
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	/* align-content: center; */
	/* padding-block: 0.81rem; */
	width: 100%;
	margin-block: 2.25rem;
}

.form__btn{
	display: block;
	padding-block: 0.5rem;
	padding-inline: 1.5rem;
	background-color: #CBD6DC;
	color: #306685; 
	border-radius: 60px;
	margin-block: 0.44rem;
	cursor: pointer;
}

.form__filler{
	padding-top: 0.81rem;
	font-size: 4.75rem;
	color: #CBD6DC;

}

.form__subtext{
	padding-bottom: 0.81rem;
	color: #444;
	font-size: 0.62rem;
}

#form__valid{

	width: 14.8125rem;
	height: 2.25rem;
	font-size: 0.875rem; 
}
#form__valid:disabled{
	background-color: #a7a7a7;

}

.imgSize{
	width: 8.06rem;
	object-fit:fill;
}

